/**
 * 3 sections: normalize, github-markdown and pandoc-specific
 */

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
    font-family: serif;
    /* 1 */

    line-height: 1.15;
    /* 2 */

    -ms-text-size-adjust: 100%;
    /* 3 */

    -webkit-text-size-adjust: 100%;
    /* 3 */

    overflow-y: scroll;
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */

body {
    margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
    display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main {
    /* 1 */

    display: block;
}
/**
 * Add the correct margin in IE 8.
 */

figure {
    margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box;
    /* 1 */

    height: 0;
    /* 1 */

    overflow: visible;
    /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace;
    /* 1 */

    font-size: 1em;
    /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
    background-color: transparent;
    /* 1 */

    -webkit-text-decoration-skip: objects;
    /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
    outline-width: 0;
}
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none;
    /* 1 */

    text-decoration: underline;
    /* 2 */

    text-decoration: underline dotted;
    /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
    font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */

    font-size: 1em;
    /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
    font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */

mark {
    background-color: #ff0;
    color: #000;
}
/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */

audio,
video {
    display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */

img {
    border-style: none;
}
/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
    overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    /* 1 */

    font-size: 100%;
    /* 1 */

    line-height: 1.15;
    /* 1 */

    margin: 0;
    /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
    /* 1 */

    overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
    /* 1 */

    text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"],
/* 1 */

[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box;
    /* 1 */

    color: inherit;
    /* 2 */

    display: table;
    /* 1 */

    max-width: 100%;
    /* 1 */

    padding: 0;
    /* 3 */

    white-space: normal;
    /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    display: inline-block;
    /* 1 */

    vertical-align: baseline;
    /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
    overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */

    padding: 0;
    /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */

    outline-offset: -2px;
    /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */

    font: inherit;
    /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details,
/* 1 */

menu {
    display: block;
}
/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */

canvas {
    display: inline-block;
}
/**
 * Add the correct display in IE.
 */

template {
    display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */

[hidden] {
    display: none;
}
/* Github css */

html,
body {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 44em;
    color: black;
}
*:not('#mkdbuttons') {
    margin: 0;
    padding: 0
}
body {
    font: 13.34px sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 1.4;
    padding: 3px;
    background: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}
p {
    margin: 1em 0
}
a {
    color: #4183c4;
    text-decoration: none
}
body {
    background-color: #fff;
    padding: 30px;
    margin: 15px;
    font-size: 18px;
    line-height: 1.6
}
body>*:first-child {
    margin-top: 0!important
}
body>*:last-child {
    margin-bottom: 0!important
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: subpixel-antialiased;
    cursor: text
}
h1 {
    font-size: 28px;
    color: #000;
}
h2 {
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    color: #000
}
h3 {
    font-size: 18px;
    color: #333
}
h4 {
    font-size: 16px;
    color: #333
}
h5 {
    font-size: 14px;
    color: #333
}
h6 {
    color: #777;
    font-size: 14px
}
p,
blockquote,
table,
pre {
    margin: 15px 0;
}
ul {
    padding-left: 30px
}
ol {
    padding-left: 30px
}
ol li ul:first-of-type {
    margin-top: 0
}
hr {
    border: 1 dotted;
    color: #ccc;
    padding: 0
}
body>h2:first-child {
    margin-top: 0;
    padding-top: 0
}
body>h1:first-child {
    margin-top: 0;
    padding-top: 0
}
body>h1:first-child+h2 {
    margin-top: 0;
    padding-top: 0
}
body>h3:first-child,
body>h4:first-child,
body>h5:first-child,
body>h6:first-child {
    margin-top: 0;
    padding-top: 0
}
a:first-child h1,
a:first-child h2,
a:first-child h3,
a:first-child h4,
a:first-child h5,
a:first-child h6 {
    margin-top: 0;
    padding-top: 0
}
h1+p,
h2+p,
h3+p,
h4+p,
h5+p,
h6+p,
ul li>:first-child,
ol li>:first-child {
    margin-top: 0
}
dl {
    padding: 0
}
dl dt {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px
}
dl dt:first-child {
    padding: 0
}
dl dt>:first-child {
    margin-top: 0
}
dl dt>:last-child {
    margin-bottom: 0
}
dl dd {
    margin: 0 0 15px;
    padding: 0 15px
}
dl dd>:first-child {
    margin-top: 0
}
dl dd>:last-child {
    margin-bottom: 0
}
blockquote {
    border-left: 4px solid #DDD;
    padding: 0 15px;
    color: #777
}
blockquote>:first-child {
    margin-top: 0
}
blockquote>:last-child {
    margin-bottom: 0
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 100%;
    font: inherit
}
table th {
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 6px 13px
}
table td {
    border: 1px solid #ccc;
    padding: 6px 13px
}
table tr {
    border-top: 1px solid #ccc;
    background-color: #fff
}
table tr:nth-child(2n) {
    background-color: #f8f8f8
}
img {
    max-width: 100%
}
code,
tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    font-size: 15px;
    color: #333
}
pre>code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: 0;
    background: transparent
}
.highlight pre {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px
}
pre {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px
}
pre code,
pre tt {
    background-color: transparent;
    border: 0
}
.poetry pre {
    font-family: Georgia, Garamond, serif!important;
    font-style: italic;
    font-size: 110%!important;
    line-height: 1.6em;
    display: block;
    margin-left: 1em
}
.poetry pre code {
    font-family: Georgia, Garamond, serif!important;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    white-space: pre-wrap
}
sup,
sub,
a.footnote {
    font-size: 1.4ex;
    height: 0;
    line-height: 1;
    vertical-align: super;
    position: relative
}
sub {
    vertical-align: sub;
    top: -1px
}
@media print {
    body {
        background: #fff
    }
    img,
    pre,
    blockquote,
    table,
    figure {
        page-break-inside: avoid
    }
    body {
        background: #fff;
        border: 0
    }
    code {
        background-color: #fff;
        color: #333!important;
        padding: 0 .2em;
        border: 1px solid #dedede
    }
    pre {
        background: #fff
    }
    pre code {
        background-color: white!important;
        overflow: visible
    }
    * {
        background: transparent !important;
        color: black !important;
        filter: none !important;
        -ms-filter: none !important;
    }
    body {
        font-size: 12pt;
        max-width: 100%;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    hr {
        height: 1px;
        border: 0;
        border-bottom: 1px solid #ccc;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        padding-right: 1em;
        page-break-inside: avoid;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page:left {
        margin: 15mm 20mm 15mm 10mm;
    }
    @page:right {
        margin: 15mm 10mm 15mm 20mm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
@media screen {
    body.inverted {
        color: #eee!important;
        border-color: #555;
        box-shadow: none
    }
    .inverted body,
    .inverted hr .inverted p,
    .inverted td,
    .inverted li,
    .inverted h1,
    .inverted h2,
    .inverted h3,
    .inverted h4,
    .inverted h5,
    .inverted h6,
    .inverted th,
    .inverted .math,
    .inverted caption,
    .inverted dd,
    .inverted dt,
    .inverted blockquote {
        color: #eee!important;
        border-color: #555;
        box-shadow: none
    }
    .inverted td,
    .inverted th {
        background: #333
    }
    .inverted h2 {
        border-color: #555
    }
    .inverted hr {
        border-color: #777;
        border-width: 1px!important
    }
    ::selection {
        background: rgba(157, 193, 200, 0.5)
    }
    h1::selection {
        background-color: rgba(45, 156, 208, 0.3)
    }
    h2::selection {
        background-color: rgba(90, 182, 224, 0.3)
    }
    h3::selection,
    h4::selection,
    h5::selection,
    h6::selection,
    li::selection,
    ol::selection {
        background-color: rgba(133, 201, 232, 0.3)
    }
    code::selection {
        background-color: rgba(0, 0, 0, 0.7);
        color: #eee
    }
    code span::selection {
        background-color: rgba(0, 0, 0, 0.7)!important;
        color: #eee!important
    }
    a::selection {
        background-color: rgba(255, 230, 102, 0.2)
    }
    .inverted a::selection {
        background-color: rgba(255, 230, 102, 0.6)
    }
    td::selection,
    th::selection,
    caption::selection {
        background-color: rgba(180, 237, 95, 0.5)
    }
    .inverted {
        background: #0b2531;
        background: #252a2a
    }
    .inverted body {
        background: #252a2a
    }
    .inverted a {
        color: #acd1d5
    }
}
.highlight .c {
    color: #998;
    font-style: italic
}
.highlight .err {
    color: #a61717;
    background-color: #e3d2d2
}
.highlight .k,
.highlight .o {
    font-weight: bold
}
.highlight .cm {
    color: #998;
    font-style: italic
}
.highlight .cp {
    color: #999;
    font-weight: bold
}
.highlight .c1 {
    color: #998;
    font-style: italic
}
.highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic
}
.highlight .gd {
    color: #000;
    background-color: #fdd
}
.highlight .gd .x {
    color: #000;
    background-color: #faa
}
.highlight .ge {
    font-style: italic
}
.highlight .gr {
    color: #a00
}
.highlight .gh {
    color: #999
}
.highlight .gi {
    color: #000;
    background-color: #dfd
}
.highlight .gi .x {
    color: #000;
    background-color: #afa
}
.highlight .go {
    color: #888
}
.highlight .gp {
    color: #555
}
.highlight .gs {
    font-weight: bold
}
.highlight .gu {
    color: #800080;
    font-weight: bold
}
.highlight .gt {
    color: #a00
}
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr {
    font-weight: bold
}
.highlight .kt {
    color: #458;
    font-weight: bold
}
.highlight .m {
    color: #099
}
.highlight .s {
    color: #d14
}
.highlight .na {
    color: #008080
}
.highlight .nb {
    color: #0086b3
}
.highlight .nc {
    color: #458;
    font-weight: bold
}
.highlight .no {
    color: #008080
}
.highlight .ni {
    color: #800080
}
.highlight .ne,
.highlight .nf {
    color: #900;
    font-weight: bold
}
.highlight .nn {
    color: #555
}
.highlight .nt {
    color: #000080
}
.highlight .nv {
    color: #008080
}
.highlight .ow {
    font-weight: bold
}
.highlight .w {
    color: #bbb
}
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo {
    color: #099
}
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx {
    color: #d14
}
.highlight .sr {
    color: #009926
}
.highlight .s1 {
    color: #d14
}
.highlight .ss {
    color: #990073
}
.highlight .bp {
    color: #999
}
.highlight .vc,
.highlight .vg,
.highlight .vi {
    color: #008080
}
.highlight .il {
    color: #099
}
.highlight .gc {
    color: #999;
    background-color: #eaf2f5
}
.type-csharp .highlight .k,
.type-csharp .highlight .kt {
    color: #00F
}
.type-csharp .highlight .nf {
    color: #000;
    font-weight: normal
}
.type-csharp .highlight .nc {
    color: #2b91af
}
.type-csharp .highlight .nn {
    color: #000
}
.type-csharp .highlight .s,
.type-csharp .highlight .sc {
    color: #a31515
}
/* pandoc */

dd:last-child,
li p:last-child {
    margin-bottom: 0;
}
figure {
    display: block;
    text-align: center;
    margin: 1em 0;
}
figure img {
    border: none;
    margin: 0 auto;
}
figcaption {
    font-size: 0.8em;
    font-style: italic;
    margin: 0 0 .8em;
}

img,
blockquote,
table,
figure,
p,
tr,
h2,
h3,
pre {
    page-break-inside: avoid;
}

footer {
  font-size: 0.75em;
  text-align: right;
  padding: 0;
  margin: 0;
  border: 0;
}

header, header p {
    font-size: 1em;
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0;
  }

.title {
  font-size: 2em;
}

.subtitle {
  font-size: 1.5em;
  text-align: center;
}

.author, .date {
  font-weight: normal;
  text-align: right;
  font-size: 0.5em;
}

footer {
  margin-top: 2em;
  border-top-style:solid;
  border-top-width: 1px;
  border-color: #ccc;
}

header p, footer p {
    font-size: 0.75em;
}

.footnotes ol {
  font-size: 0.75em;
}

.important .title p::before{
  content: "⚠️";
}

.important .title p{
    font-size: 18px;
}

.important {
    border: solid 1px #ccc;
    padding: 6px 10px;
    border-radius: 3px;
    background-color:#e3d2d2
}

strong {
    background-color: #eeff41;
}

em {
    color: #B11030;
}